force-app/main/default/flows/CoordoneeBancaire_TRI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <customErrors>
        <description>error</description>
        <name>Custom_Error_Message_1</name>
        <label>Custom Error Message 1</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>Une coordonnée bancaire principale existe déjà pour cette devise.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>has_already_1_principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Coordonee_bancaire.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Error_Message_1</targetReference>
            </connector>
            <label>has already 1 principal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CoordoneeBancaire_TRI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CoordoneeBancaire_TRI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Coordonee_bancaire</name>
        <label>Get Coordonee bancaire</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 6) OR (3 AND 5) ) AND 4</filterLogic>
        <filters>
            <field>Devise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Devise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Prestataire__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Prestataire__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Personne__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Personne__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Principal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Prestataire__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Personne__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CoordonneesBancaires__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Coordonee_bancaire</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Principal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CoordonneesBancaires__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
