force-app/main/default/flows/Email_SCR_Qualification_Finance_DEMO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Folder_FI_ID</name>
        <label>Assign Folder FI ID</label>
        <locationX>842</locationX>
        <locationY>3908</locationY>
        <assignmentItems>
            <assignToReference>Folder_FI_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_FinanceRec_Folder_Existence.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Generated_Content_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Generated_File_Ids</name>
        <label>Assign Generated File Ids</label>
        <locationX>2244</locationX>
        <locationY>2828</locationY>
        <assignmentItems>
            <assignToReference>lstGeneratedFileIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PdfHandler.generatedFilesList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Generated_Content_Documents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_7</name>
        <label>Devis</label>
        <locationX>2206</locationX>
        <locationY>3692</locationY>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Type_de_devis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_de_devis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Sous_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sous_type_de_finance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numerodevis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Garantie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pick_garantieMoyen.garantieId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Analyse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pre_remplissage_champ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Selected_Finance_Record_Id</name>
        <label>selected facture id</label>
        <locationX>974</locationX>
        <locationY>3368</locationY>
        <assignmentItems>
            <assignToReference>financeRid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>extfacture.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>countNumberOfDevis</name>
        <label>countNumberOfDevisfacture</label>
        <locationX>2244</locationX>
        <locationY>2612</locationY>
        <assignmentItems>
            <assignToReference>countDevi</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>lstDevis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countFacture</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>lstFacture</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Qualification_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createContentDocumentLink</name>
        <label>createContentDocumentLink</label>
        <locationX>1062</locationX>
        <locationY>4208</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financeRid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Generated_Content_Document.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLinkedToDevi</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileExplorerFile.LinkedEntityId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financeRid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileExplorerFile.Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Generated_Content_Document.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileExplorerFile.FileType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Generated_Content_Document.FileType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileExplorerFile.FileExtension__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Generated_Content_Document.FileExtension</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileExplorerFile.Folder__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileExplorerFile.ContentDocumentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Generated_Content_Document.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FileExplorerFile.Folder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Folder_FI_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListFileExploreFile</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FileExplorerFile</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Generated_Content_Document</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Devis_associe</name>
        <label>Devis associe</label>
        <locationX>2074</locationX>
        <locationY>4016</locationY>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Devis_associe__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>extDevis.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_devis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FactureChamp</name>
        <label>Facture</label>
        <locationX>2800</locationX>
        <locationY>4034</locationY>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Type_de_facture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_de_facture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Num_ro_de_facture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Sous_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sous_type_de_facture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Garantie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pickgarantiemoyen.garantieId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conformite</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Pre_remplissage_champ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finance_record_id</name>
        <label>Finance record id</label>
        <locationX>2206</locationX>
        <locationY>4316</locationY>
        <assignmentItems>
            <assignToReference>financeRid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateDevisFacture.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>listDevisIds</name>
        <label>listDevisIds</label>
        <locationX>2332</locationX>
        <locationY>2336</locationY>
        <assignmentItems>
            <assignToReference>lstDevis</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>lstFacturedeis</name>
        <label>lstFacture</label>
        <locationX>2596</locationX>
        <locationY>2336</locationY>
        <assignmentItems>
            <assignToReference>lstFacture</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pre_remplissage_champ</name>
        <label>Pre-remplissage champ</label>
        <locationX>2206</locationX>
        <locationY>3800</locationY>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_recordtype.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Personne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Message_fields.Parent.personne__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Date_reception_facture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Message_fields.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Message_fields.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Evenement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Message_fields.Parent.evenement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Formule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Message_fields.Parent.formule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.pathologie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_Message_fields.Parent.pathologie__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.etat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Analyse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Devis_rattacher_a_une_facture</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rembourssement</name>
        <label>Rembourssement</label>
        <locationX>3130</locationX>
        <locationY>3368</locationY>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nom_du_remboursement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conformite</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Pre_remplissage_champ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Finance_Record_Id</name>
        <label>Selected Finance Record Id</label>
        <locationX>314</locationX>
        <locationY>3368</locationY>
        <assignmentItems>
            <assignToReference>financeRid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>extDevis.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Email_Message</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Devis</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;Devis&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Devis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Facture</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;Facture&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Facture</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remboursement</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;Remboursement&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remboursement</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ContentDocument_Exist</name>
        <label>ContentDocument Exist?</label>
        <locationX>1059</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Attachment_Old_Finance_FileExplorer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Attachment_Old_Finance_ContentDocLink</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Attachment_Old_Finance_ContentDocLink</targetReference>
            </connector>
            <label>Yes, Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue</name>
        <label>Continue ?</label>
        <locationX>795</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Attachment_Old_Finance_ContentDocLink</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Non.renderNext</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Garantie_and_Moyen_filled</name>
        <label>Garantie and Moyen filled?</label>
        <locationX>2646</locationX>
        <locationY>3692</locationY>
        <defaultConnector>
            <targetReference>FactureChamp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_route_back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pickgarantiemoyen.garantieId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_Facture</targetReference>
            </connector>
            <label>route back</label>
        </rules>
    </decisions>
    <decisions>
        <name>create_document</name>
        <label>create document ?</label>
        <locationX>974</locationX>
        <locationY>4400</locationY>
        <defaultConnector>
            <targetReference>Redirect_to_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContentDocumentLinkedToDevi</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createContentDocumentLinks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_14</name>
        <label>Garantie and Moyen filled?</label>
        <locationX>2008</locationX>
        <locationY>3584</locationY>
        <defaultConnector>
            <targetReference>Assignment_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick_garantieMoyen.garantieId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Prequalifier_devi</targetReference>
            </connector>
            <label>route back</label>
        </rules>
    </decisions>
    <decisions>
        <name>Devi_rattacher</name>
        <label>Devi rattacher ?</label>
        <locationX>1359</locationX>
        <locationY>3260</locationY>
        <defaultConnector>
            <targetReference>Type_facture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Creer un devi</defaultConnectorLabel>
        <rules>
            <name>Devi_est_rattacher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>extDevis.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>countDevi</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tyep_de_finance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Devis</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Finance_Record_Id</targetReference>
            </connector>
            <label>Devi est rattacher</label>
        </rules>
        <rules>
            <name>facture_est_rattacher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>extfacture.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>countFacture</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Selected_Finance_Record_Id</targetReference>
            </connector>
            <label>facture est rattacher</label>
        </rules>
    </decisions>
    <decisions>
        <name>Devis_rattacher_a_une_facture</name>
        <label>Devis rattacher a une facture?</label>
        <locationX>2206</locationX>
        <locationY>3908</locationY>
        <defaultConnector>
            <targetReference>Create_devis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NON</defaultConnectorLabel>
        <rules>
            <name>OUI_ligne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rattacher_devis</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tyep_de_finance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Facture</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>extDevis.firstSelectedRow.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Devis_associe</targetReference>
            </connector>
            <label>OUI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Folder_Exist</name>
        <label>Folder Exist ?</label>
        <locationX>974</locationX>
        <locationY>3800</locationY>
        <defaultConnector>
            <targetReference>Create_FolderFI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Folder Not Exist</defaultConnectorLabel>
        <rules>
            <name>Yes_Folder_FI_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Folder_FI_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Folder_FI_ID</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Folder_FI_ID</targetReference>
            </connector>
            <label>Yes, Folder FI exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Garantie</name>
        <label>Garantie ?</label>
        <locationX>1147</locationX>
        <locationY>1904</locationY>
        <defaultConnector>
            <targetReference>getListDevi</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>A des garenties</defaultConnectorLabel>
        <rules>
            <name>Pas_de_garentie</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_garantee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_pas_de_moyen</targetReference>
            </connector>
            <label>Pas de garentie</label>
        </rules>
    </decisions>
    <decisions>
        <name>get_all_devis</name>
        <label>get all devis</label>
        <locationX>2596</locationX>
        <locationY>2228</locationY>
        <defaultConnector>
            <targetReference>Loop_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Devisrcds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_2.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Devis</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_2.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Email_Message_fields.Finance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>listDevisIds</targetReference>
            </connector>
            <label>Devis</label>
        </rules>
        <rules>
            <name>facturerds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_2.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Facture</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_2.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Email_Message_fields.Finance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lstFacturedeis</targetReference>
            </connector>
            <label>facture</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_AttachmentOld_Finance_FileExplorer</name>
        <label>Get Attachment Old - Finance- FileExplorer</label>
        <locationX>1059</locationX>
        <locationY>1130</locationY>
        <defaultConnector>
            <targetReference>get_garantee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_Exist1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Attachment_Old_Finance_FileExplorer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Attachment_Old_Finance_FE</targetReference>
            </connector>
            <label>yes, Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lookup_finance_exist</name>
        <label>Lookup finance exist ?</label>
        <locationX>1147</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>get_garantee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does not exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Message_fields.Finance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Continue_or_not</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>SousTypeFM</name>
        <label>SousTypeFM?</label>
        <locationX>2800</locationX>
        <locationY>3584</locationY>
        <defaultConnector>
            <targetReference>FactureChamp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assis</defaultConnectorLabel>
        <rules>
            <name>FM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sous_type_de_facture</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frais Medicaux</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Garantie_and_Moyen_filled</targetReference>
            </connector>
            <label>FM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_facture</name>
        <label>Type facture ?</label>
        <locationX>2404</locationX>
        <locationY>3368</locationY>
        <defaultConnector>
            <targetReference>Create_Facture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Facture</defaultConnectorLabel>
        <rules>
            <name>DevisScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tyep_de_finance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Devis</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prequalifier_devi</targetReference>
            </connector>
            <label>Devis</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_finance_remboussement</name>
        <label>Type finance = remboussement ?</label>
        <locationX>2244</locationX>
        <locationY>3152</locationY>
        <defaultConnector>
            <targetReference>Remboussement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Type_finance_remboussement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tyep_de_finance</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Remboursement</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tyep_de_finance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Devi_rattacher</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Sprint 4 with rattacher a un devis depuis une facture</description>
    <dynamicChoiceSets>
        <name>soustype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sous_types_d_emails__c</picklistField>
        <picklistObject>EmailMessage</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>soustypefinance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sous_type__c</picklistField>
        <picklistObject>facture_devis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>type_email</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_de_pieces_jointes__c</picklistField>
        <picklistObject>EmailMessage</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeDeDevis</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_de_devis__c</picklistField>
        <picklistObject>facture_devis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>typeFacture</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_de_facture__c</picklistField>
        <picklistObject>facture_devis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UrgencePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Urgence_finance__c</picklistField>
        <picklistObject>facture_devis__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Email-SCR-Qualification-Finance-DEMO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email-SCR-Qualification-Finance-DEMO</label>
    <loops>
        <name>Add_Generated_Content_Document</name>
        <label>Add Generated Content Document</label>
        <locationX>974</locationX>
        <locationY>4100</locationY>
        <collectionReference>Get_Generated_Content_Documents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createContentDocumentLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_document</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2</name>
        <label>Loop through list of devis/facture</label>
        <locationX>2244</locationX>
        <locationY>2120</locationY>
        <collectionReference>getListDevi</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_all_devis</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>countNumberOfDevis</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_devis</name>
        <label>Create devis</label>
        <locationX>2206</locationX>
        <locationY>4208</locationY>
        <connector>
            <targetReference>Finance_record_id</targetReference>
        </connector>
        <inputReference>CreateDevisFacture</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_FileExplorerFile</name>
        <label>Create FileExplorerFile FI</label>
        <locationX>578</locationX>
        <locationY>4616</locationY>
        <connector>
            <targetReference>Redirect_to_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>ListFileExploreFile</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_FolderFI</name>
        <label>Create Folder FI</label>
        <locationX>1106</locationX>
        <locationY>3908</locationY>
        <assignRecordIdToReference>Folder_FI_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Generated_Content_Document</targetReference>
        </connector>
        <inputAssignments>
            <field>Label__c</field>
            <value>
                <stringValue>FI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId__c</field>
            <value>
                <elementReference>financeRid</elementReference>
            </value>
        </inputAssignments>
        <object>FileExplorerFolder__c</object>
    </recordCreates>
    <recordCreates>
        <name>createContentDocumentLinks</name>
        <label>createContentDocumentLinks</label>
        <locationX>578</locationX>
        <locationY>4508</locationY>
        <connector>
            <targetReference>Create_FileExplorerFile</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>ContentDocumentLinkedToDevi</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Remove_Attachment_Old_Finance_ContentDocLink</name>
        <label>Remove Attachment Old - Finance- ContentDocLink</label>
        <locationX>795</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Attachment_Old_Finance_FileExplorer</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Email_Message_fields.Finance__c</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Attachment_Old_Finance_FE</name>
        <label>Remove Attachment Old - Finance -FE</label>
        <locationX>795</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>get_garantee</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back_For_Last_Deleted_File</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Email_Message_fields.Finance__c</elementReference>
            </value>
        </filters>
        <object>FileExplorerFile__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Attachment_Old_Finance_ContentDocLink</name>
        <label>Get Attachment Old - Finance- ContentDocLink</label>
        <locationX>1059</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContentDocument_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Email_Message_fields.Finance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Attachment_Old_Finance_FileExplorer</name>
        <label>Get Attachment Old - Finance- FileExplorer</label>
        <locationX>1059</locationX>
        <locationY>1022</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AttachmentOld_Finance_FileExplorer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Email_Message_fields.Finance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FileExplorerFile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Message_fields</name>
        <label>Get Email Message fields</label>
        <locationX>1147</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_finance_exist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Finance__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_existing_decument_in_finance</name>
        <label>get existing document in finance</label>
        <locationX>974</locationX>
        <locationY>3584</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_FinanceRec_Folder_Existence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financeRid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_garantee</name>
        <label>get garantee</label>
        <locationX>1147</locationX>
        <locationY>1796</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Garantie</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Email_Message_fields.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>garantie_du_service__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Generated_Content_Documents</name>
        <label>Get Generated Content Documents</label>
        <locationX>2244</locationX>
        <locationY>2936</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>lstGeneratedFileIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_recordtype</name>
        <label>get recordtype</label>
        <locationX>2244</locationX>
        <locationY>3044</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_finance_remboussement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tyep_de_finance</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getListDevi</name>
        <label>getListDevi</label>
        <locationX>2244</locationX>
        <locationY>2012</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Email_Message_fields.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>facture_devis__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Verify_FinanceRec_Folder_Existence</name>
        <label>Verify FinanceRec Folder Existence</label>
        <locationX>974</locationX>
        <locationY>3692</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Folder_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financeRid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FileExplorerFolder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_Back_For_Last_Deleted_File</name>
        <label>Roll Back For Last Deleted File</label>
        <locationX>1059</locationX>
        <locationY>1346</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Email_Message</name>
        <label>Update Email Message</label>
        <locationX>974</locationX>
        <locationY>3476</locationY>
        <connector>
            <targetReference>get_existing_decument_in_finance</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Finance__c</field>
            <value>
                <elementReference>financeRid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sous_types_d_emails__c</field>
            <value>
                <elementReference>soustypeemail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_de_pieces_jointes__c</field>
            <value>
                <elementReference>Type_d_email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordUpdates>
    <screens>
        <name>Continue_or_not</name>
        <label>Continue or not</label>
        <locationX>795</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Continue</targetReference>
        </connector>
        <fields>
            <name>Continue_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Attention, vous avez dj la finance : &lt;/strong&gt;&lt;a href=&quot;/{!Get_Email_Message_fields.Finance__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;em&gt;{!Get_Email_Message_fields.Finance__r.Name}&lt;/em&gt;&lt;/a&gt; &lt;span style=&quot;font-size: 18px;&quot;&gt;rattache  cet e-mail. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Souhaitez-vous continuer de le qualifier et modifier le rattachement ?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Continue_or_not_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Continue_or_not_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Non</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Non</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Continue_or_not_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Oui</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Oui</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderNext</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Facture</name>
        <label>Prequalifiier un facture</label>
        <locationX>2800</locationX>
        <locationY>3476</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Prcdent</backButtonLabel>
        <connector>
            <targetReference>SousTypeFM</targetReference>
        </connector>
        <fields>
            <name>Create_Facture_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Facture_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Num_ro_de_facture</name>
                    <dataType>String</dataType>
                    <fieldText>Numro de facture</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Facture_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_de_facture</name>
                    <choiceReferences>typeFacture</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type de facture</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_Facture_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Facture_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sous_type_de_facture</name>
                    <choiceReferences>soustypefinance</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>extDevis.firstSelectedRow.Sous_type__c</elementReference>
                    </defaultValue>
                    <fieldText>Sous-type de facture</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Facture_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pickgarantiemoyen</name>
                    <extensionName>c:lwc02_comboMoyensV2</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>caseId</name>
                        <value>
                            <elementReference>Get_Email_Message_fields.ParentId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>sousTypeDeFinance</name>
                        <value>
                            <elementReference>Sous_type_de_facture</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>garantieValue</name>
                        <value>
                            <elementReference>extDevis.firstSelectedRow.Garantie__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>listeDeMoyens</name>
                        <value>
                            <elementReference>extDevis.firstSelectedRow.Liste_de_moyens__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Sous_type_de_facture</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Frais Medicaux</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_pas_de_moyen</name>
        <label>Error pas de moyen</label>
        <locationX>50</locationX>
        <locationY>2012</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Prcdent</backButtonLabel>
        <fields>
            <name>pasdemoyentest</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 18px;&quot;&gt;Vous ne disposez pas des garanties ncessaires pour crer une finance.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 18px;&quot;&gt;Merci de le renseigner ds que possible sur le service suivant&amp;nbsp;: &lt;/strong&gt;&lt;a href=&quot;/{!Get_Email_Message_fields.ParentId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; font-size: 18px;&quot;&gt;&lt;strong&gt;{!Get_Email_Message_fields.Parent.CaseNumber}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(33, 33, 33); font-size: 18px; color: rgb(236, 236, 236);&quot;&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>4724</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Copy_1_of_ErrMsg</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Prequalifier_devi</name>
        <label>Pre-qualifier un devi</label>
        <locationX>2008</locationX>
        <locationY>3476</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Prcdent</backButtonLabel>
        <connector>
            <targetReference>Decision_14</targetReference>
        </connector>
        <fields>
            <name>title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Pr&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &amp;quot;Trebuchet MS&amp;quot;, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; background-color: rgb(255, 255, 255);&quot;&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;-qualifier le devis&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Prequalifier_devi_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Prequalifier_devi_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>numerodevis</name>
                    <dataType>String</dataType>
                    <fieldText>Numro du devis</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Prequalifier_devi_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_de_devis</name>
                    <choiceReferences>TypeDeDevis</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type de devis</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Prequalifier_devi_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Prequalifier_devi_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sous_type_de_finance</name>
                    <choiceReferences>soustypefinance</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sous-type de devis</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Prequalifier_devi_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>pick_garantieMoyen</name>
            <extensionName>c:lwc02_comboMoyensV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Email_Message_fields.ParentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sousTypeDeFinance</name>
                <value>
                    <elementReference>Sous_type_de_finance</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Qualification_Email</name>
        <label>Qualification de l&apos;email</label>
        <locationX>2244</locationX>
        <locationY>2720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Prcdent</backButtonLabel>
        <connector>
            <targetReference>Assign_Generated_File_Ids</targetReference>
        </connector>
        <fields>
            <name>Qualification_Email_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Qualification_Email_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tyep_de_finance</name>
                    <choiceReferences>Devis</choiceReferences>
                    <choiceReferences>Facture</choiceReferences>
                    <choiceReferences>Remboursement</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Devis</defaultSelectedChoiceReference>
                    <fieldText>Type de finance</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Qualification_Email_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>soustypeemail</name>
                    <choiceReferences>soustype</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sous type d&apos;email</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tyep_de_finance</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Remboursement</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Qualification_Email_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Qualification_Email_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_d_email</name>
                    <choiceReferences>type_email</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type de pices jointes</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tyep_de_finance</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Remboursement</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Qualification_Email_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Rattacher_devis</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Rattacher  un devis</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Choisissez entre devis et facture.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(AND({!Rattacher_devis}, {!Rattacher_a_un_facture}))</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2)</conditionLogic>
                        <conditions>
                            <leftValueReference>Tyep_de_finance</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Devis</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Tyep_de_finance</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Facture</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Rattacher_a_un_facture</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Rattacher  une facture</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Choisissez entre devis et facture.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(AND({!Rattacher_devis}, {!Rattacher_a_un_facture}))</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tyep_de_finance</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Facture</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>extDevis</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>facture_devis__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>lstDevis</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-899a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Numro de devis / facture&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;date_du_devis_facture__c&quot;,&quot;guid&quot;:&quot;column-6919&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Date du devis / facture&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Statut__c&quot;,&quot;guid&quot;:&quot;column-c1e0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Statut&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TECH_Garantie__c&quot;,&quot;guid&quot;:&quot;column-69b3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Garantie&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;TECH_Garantie&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Liste_de_moyens__c&quot;,&quot;guid&quot;:&quot;column-d8ed&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Liste de moyens&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
                <conditions>
                    <leftValueReference>Rattacher_devis</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>countDevi</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tyep_de_finance</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Devis</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tyep_de_finance</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Facture</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>extfacture</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>facture_devis__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>lstFacture</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;NumeroDevisFacture__c&quot;,&quot;guid&quot;:&quot;column-87a3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Numro de devis / facture&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;date_du_devis_facture__c&quot;,&quot;guid&quot;:&quot;column-7673&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Date du devis / facture&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Statut__c&quot;,&quot;guid&quot;:&quot;column-5c2c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Statut&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TECH_Garantie__c&quot;,&quot;guid&quot;:&quot;column-9d6f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Garantie&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;TECH_Garantie&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Liste_de_moyens__c&quot;,&quot;guid&quot;:&quot;column-a5eb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Liste de moyens&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Rattacher_a_un_facture</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Tyep_de_finance</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Facture</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>countFacture</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>noestdevisfac</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 22px; background-color: rgb(255, 255, 255);&quot;&gt;Aucun devis ou facture existant sur le service.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Cliquer sur &lt;/span&gt;&lt;em style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Suivant &lt;/u&gt;&lt;/em&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;pour crer un&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>(1 AND 4) OR (2 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>countDevi</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>countFacture</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Rattacher_a_un_facture</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Rattacher_devis</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PdfHandler</name>
            <extensionName>c:lwc03_pdfHandler</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_to_record</name>
        <label>Redirect to record</label>
        <locationX>974</locationX>
        <locationY>5048</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectToRecord</name>
            <extensionName>c:lwc01_redirectToDevis</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>financeRid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceId</name>
                <value>
                    <elementReference>Get_Email_Message_fields.ParentId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>financeRid</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Remboussement</name>
        <label>Remboussement</label>
        <locationX>3130</locationX>
        <locationY>3260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Prcdent</backButtonLabel>
        <connector>
            <targetReference>Rembourssement</targetReference>
        </connector>
        <fields>
            <name>PrequalifierRembousement</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 51, 51);&quot;&gt;Pr-qualifier le remboursement&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Remboussement_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Remboussement_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nom_du_remboursement</name>
                    <dataType>String</dataType>
                    <fieldText>Nom du remboursement</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Remboussement_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1021</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Email_Message_fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkedToDevi</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>countDevi</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countFacture</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CreateDevisFacture</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>facture_devis__c</objectType>
    </variables>
    <variables>
        <name>ExistingServiceId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileExplorerFile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FileExplorerFile__c</objectType>
    </variables>
    <variables>
        <name>financeRid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Folder_FI_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GeneratedFileIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listDevisId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListFileExploreFile</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FileExplorerFile__c</objectType>
    </variables>
    <variables>
        <name>lstContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstDevis</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>facture_devis__c</objectType>
    </variables>
    <variables>
        <name>lstFacture</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>facture_devis__c</objectType>
    </variables>
    <variables>
        <name>lstGeneratedFileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusbar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue> [&quot;current&quot;,&quot;not yet&quot;,&quot;not yet&quot;,&quot;not yet&quot;,&quot;not yet&quot;,&quot;not yet&quot;,&quot;not yet&quot;,&quot;not yet&quot;, &quot;not yet&quot;,&quot;not yet&quot;,&quot;not yet&quot;]</stringValue>
        </value>
    </variables>
</Flow>
