force-app/main/default/flows/flow_case_identification_initiale.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavToService</name>
        <label>NavToService</label>
        <locationX>1370</locationX>
        <locationY>2738</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>VarService</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AddTempEmailMessage</name>
        <label>Add Temp EmailMessage</label>
        <locationX>930</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>EmailToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempEmailMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignlinkentityID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToColl</name>
        <label>AddToColl</label>
        <locationX>1898</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>VarDocColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarDoc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Read_LinkEntity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_count_Document</name>
        <label>Assign count Document</label>
        <locationX>842</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>countDocument</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetDocumentLinks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Count_Up_500</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_evenement</name>
        <label>assign evenement</label>
        <locationX>5506</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VarEvenement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>evenementscreen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aucun_evenement_cr_ou_s_lectionn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Message_Erreur</name>
        <label>Assign Message Erreur</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>VarMessageErreur</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attention, il est obligatoire de rattacher un email à une personne ou un service.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>identification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Message_Erreur_Evenement</name>
        <label>Assign Message Erreur Evenement</label>
        <locationX>3218</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VarMessageErreurEvenement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attention, il est obligatoire de sélectionner un événement en cours ou d&apos;un créer un.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>evenement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignlinkentityID</name>
        <label>Assign linkentityID</label>
        <locationX>930</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>CollectionlinkEntityID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OldEmailMessage.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OldEmailMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignServiceID</name>
        <label>AssignServiceID</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VarService</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarSelectedService</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCaseInfos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignServiceID2</name>
        <label>AssignServiceID2</label>
        <locationX>4978</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>VarService</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>choix_services</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetCaseInfos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTempEmail</name>
        <label>Assign Temp Email</label>
        <locationX>930</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>tempEmailMessage.FromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldEmailMessage.FromAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempEmailMessage.FromName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldEmailMessage.FromName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempEmailMessage.Incoming</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldEmailMessage.Incoming</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempEmailMessage.MessageDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldEmailMessage.MessageDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempEmailMessage.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarService</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempEmailMessage.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldEmailMessage.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempEmailMessage.TextBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LimitedTextBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempEmailMessage.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldEmailMessage.ToAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempEmailMessage.proprietaire_de_l_email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCaseInfos.Source:EmailMessage.proprietaire_de_l_email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempEmailMessage.LastLinkEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldEmailMessage.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempEmailMessage.HtmlBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LimitedHtmlbody</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddTempEmailMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVariables</name>
        <label>AssignVariables</label>
        <locationX>1898</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>VarDoc.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Read_NewEmailMessage.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDoc.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Read_LinkEntity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDoc.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDoc.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDoc.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Read_LinkEntity.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToColl</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Aucun_evenement_cr_ou_s_lectionn</name>
        <label>Aucun evenement créé ou sélectionné?</label>
        <locationX>5506</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>evenement_vide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nouvel_evenement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarEvenement</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Message_Erreur_Evenement</targetReference>
            </connector>
            <label>evenement vide</label>
        </rules>
        <rules>
            <name>pas_vide</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarEvenement</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>nouvel_evenement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>nouveau_ou_en_cours</targetReference>
            </connector>
            <label>pas vide</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLinkentityID</name>
        <label>Check Linkentity ID</label>
        <locationX>2030</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Read_LinkEntity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Read_NewEmailMessage.LastLinkEntity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Read_LinkEntity.LinkedEntityId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignVariables</targetReference>
            </connector>
            <label>Yes, Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Document_Count_Up_500</name>
        <label>Document Count Up 500</label>
        <locationX>842</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Read_NewEmailMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_File_up</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countDocument</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Document_Message</targetReference>
            </connector>
            <label>Yes, File up</label>
        </rules>
    </decisions>
    <decisions>
        <name>identifiee_ou_inconnue</name>
        <label>identifiée ou inconnue</label>
        <locationX>4582</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_existant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarSelectedService</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignServiceID</targetReference>
            </connector>
            <label>Service existant</label>
        </rules>
        <rules>
            <name>identifiee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>personne_non_identifiee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>evenement</targetReference>
            </connector>
            <label>identifiee</label>
        </rules>
        <rules>
            <name>inconnue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>personne_non_identifiee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_case</targetReference>
            </connector>
            <label>inconnue</label>
        </rules>
    </decisions>
    <decisions>
        <name>nouveau_ou_en_cours</name>
        <label>nouveau ou en cours</label>
        <locationX>5616</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>nouveau</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nouvel_evenement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>nouvel_evenement_bis</targetReference>
            </connector>
            <label>Nouveau</label>
        </rules>
        <rules>
            <name>en_cours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>nouvel_evenement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>evenement_existant</targetReference>
            </connector>
            <label>En cours</label>
        </rules>
    </decisions>
    <decisions>
        <name>nouveau_service_ou_en_cours</name>
        <label>Nouveau service ou en cours</label>
        <locationX>5990</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Existant2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>services</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>AssignServiceID2</targetReference>
            </connector>
            <label>Service Existant</label>
        </rules>
        <rules>
            <name>assistance_service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type_de_service_choix</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Assistance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assistance_bis</targetReference>
            </connector>
            <label>Assistance</label>
        </rules>
        <rules>
            <name>conseil_service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type_de_service_choix</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Conseil</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>conseil_ecran</targetReference>
            </connector>
            <label>Conseil</label>
        </rules>
        <rules>
            <name>hospitalisation_domicile_service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type_de_service_choix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>had</targetReference>
            </connector>
            <label>Hospitalisation à domicile</label>
        </rules>
        <rules>
            <name>tiers_payant_service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type_de_service_choix</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tiers Payant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>tiers_payant_ecran</targetReference>
            </connector>
            <label>Tiers Payant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Personne_et_services_vides</name>
        <label>Personne et services vides ?</label>
        <locationX>4318</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>vide</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarPersonne</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarSelectedService</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Message_Erreur</targetReference>
            </connector>
            <label>vide</label>
        </rules>
        <rules>
            <name>non_vide</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarPersonne</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>VarSelectedService</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>identifiee_ou_inconnue</targetReference>
            </connector>
            <label>non vide</label>
        </rules>
    </decisions>
    <decisions>
        <name>type_de_service_bis</name>
        <label>Type de service</label>
        <locationX>3966</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>assistance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type_service</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Assistance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>assistance_bis</targetReference>
            </connector>
            <label>Assistance</label>
        </rules>
        <rules>
            <name>conseil</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type_service</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Conseil</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>conseil_ecran</targetReference>
            </connector>
            <label>Conseil</label>
        </rules>
        <rules>
            <name>tiers_payant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type_service</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tiers Payant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>tiers_payant_ecran</targetReference>
            </connector>
            <label>Tiers Payant</label>
        </rules>
        <rules>
            <name>hospitalisation_domicile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type_service</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hospitalisation à domicile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>had</targetReference>
            </connector>
            <label>Hospitalisation à domicile</label>
        </rules>
    </decisions>
    <description>Recuperer plusieur email qui sont rattacher sur une seul case</description>
    <dynamicChoiceSets>
        <name>caracteristique_lieu_had</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>caracteristique_du_lieu_de_had__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choix_services</name>
        <dataType>String</dataType>
        <displayField>Nom_du_service__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>evenement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Evenements</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>destination</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>destination__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>environnement_familial_entourage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>environnement_familial__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Evenements</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>personne__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPersonne</elementReference>
            </value>
        </filters>
        <object>evenement__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>localisation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>localisation__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>localisation_had</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>localisation__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>moyen_retour_initialement_prevu</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>moyen_de_retour_initialement_prevu__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>type_de_service</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>type_de_service__c</picklistField>
        <picklistObject>evenement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>type_de_soin_tp</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>type_de_soins__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>type_devenement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>type_devenement__c</picklistField>
        <picklistObject>evenement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>type_dintervention</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>type_d_intervention__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>type_service_assistance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>type_de_service_assistance__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>type_service_bis</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>type_de_service__c</picklistField>
        <picklistObject>evenement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>type_service_conseil</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>type_de_service_conseil__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>typologie_service</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>type_de_service__c</picklistField>
        <picklistObject>evenement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VarFormulesDisponibles</name>
        <dataType>String</dataType>
        <displayField>nom_formule__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPersonne</elementReference>
            </value>
        </filters>
        <object>formule_de_la_personne__c</object>
        <sortField>nom_formule__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id_Formule__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Count_HtmlBody</name>
        <dataType>Number</dataType>
        <expression>LEN({!OldEmailMessage.HtmlBody})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>LimitedHtmlbody</name>
        <dataType>String</dataType>
        <expression>IF(
    LEN({!OldEmailMessage.HtmlBody}) &gt; 131000,
    LEFT({!OldEmailMessage.HtmlBody}, 131000) &amp; &quot; [Cet email a été tronqué]&quot;,
    {!OldEmailMessage.HtmlBody}
)</expression>
    </formulas>
    <formulas>
        <name>LimitedTextBody</name>
        <dataType>String</dataType>
        <expression>IF(
    LEN({!OldEmailMessage.TextBody}) &gt; 131000,
    LEFT({!OldEmailMessage.TextBody}, 131000) &amp; &quot; [Cet email a été tronqué]&quot;,
    {!OldEmailMessage.TextBody}
)</expression>
    </formulas>
    <formulas>
        <name>TroncatedHtmlBody</name>
        <dataType>String</dataType>
        <expression>IF(
    LEN({!OldEmailMessage.HtmlBody}) &gt; 131000,
    LEFT({!OldEmailMessage.HtmlBody}, 131000) &amp; &quot; [Cet email a été tronqué]&quot;,
    {!OldEmailMessage.HtmlBody}
)</expression>
    </formulas>
    <interviewLabel>[Flow] [Case] [Identification initiale] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Flow] [Case] [Identification initiale]</label>
    <loops>
        <name>OldEmailMessage</name>
        <label>OldEmailMessage</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <collectionReference>GetEmailMessage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignTempEmail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_EmailMessage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Read_LinkEntity</name>
        <label>Read LinkEntity</label>
        <locationX>1810</locationX>
        <locationY>1838</locationY>
        <collectionReference>GetDocumentLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckLinkentityID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Read_NewEmailMessage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Read_NewEmailMessage</name>
        <label>Read NewEmailMessage</label>
        <locationX>1370</locationX>
        <locationY>1730</locationY>
        <collectionReference>EmailToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Read_LinkEntity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateDocumentLinks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_EmailMessage</name>
        <label>Create EmailMessage</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>GetDocumentLinks</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>EmailToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateDocumentLinks</name>
        <label>CreateDocumentLinks</label>
        <locationX>1370</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>DeleteCurrentCase</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>VarDocColl</inputReference>
    </recordCreates>
    <recordCreates>
        <name>creation_v_nement</name>
        <label>Création événement</label>
        <locationX>3966</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>VarEvenement</assignRecordIdToReference>
        <connector>
            <targetReference>type_de_service_bis</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>&quot;xx&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>affectation_longue_duree__c</field>
            <value>
                <elementReference>affection_longue_duree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>date_de_survenance__c</field>
            <value>
                <elementReference>date_de_survenance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>description_de_levenement__c</field>
            <value>
                <elementReference>description_de_levenement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pays_de_survenance__c</field>
            <value>
                <elementReference>Varpaysevenement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>personne__c</field>
            <value>
                <elementReference>VarPersonne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_de_service__c</field>
            <value>
                <elementReference>type_de_service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_devenement__c</field>
            <value>
                <elementReference>type_devenement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ville__c</field>
            <value>
                <elementReference>ville</elementReference>
            </value>
        </inputAssignments>
        <object>evenement__c</object>
    </recordCreates>
    <recordDeletes>
        <name>DeleteCurrentCase</name>
        <label>DeleteCurrentCase</label>
        <locationX>1370</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>NavToService</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordLookups>
        <name>get_record_type_assistance</name>
        <label>get record type assistance</label>
        <locationX>5242</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_assistance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>assistance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_record_type_conseil</name>
        <label>Get record type conseil</label>
        <locationX>5616</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_conseil</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conseil</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_record_type_had</name>
        <label>Get record type had</label>
        <locationX>5946</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_had</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>had</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_record_type_tiers_payant</name>
        <label>Get record type tiers payant</label>
        <locationX>6474</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_tp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tiers Payant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseInfos</name>
        <label>GetCaseInfos</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEmailMessage</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDocumentLinks</name>
        <label>GetDocumentLinks</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_count_Document</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectionlinkEntityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetEmailMessage</name>
        <label>Get EmailMessage</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OldEmailMessage</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_assistance</name>
        <label>Update Assistance</label>
        <locationX>5242</locationX>
        <locationY>1322</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_record_type_assistance.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>analyser</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>accompagnant__c</field>
            <value>
                <elementReference>accompagnant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>adresse_de_destination__c</field>
            <value>
                <elementReference>adresse_de_destination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>adresse_localisation__c</field>
            <value>
                <elementReference>adresse_localisation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>date_de_notification__c</field>
            <value>
                <elementReference>date_du_service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>date_de_retour_initialement_prevue__c</field>
            <value>
                <elementReference>date_retour_prevu</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>descriptif_accompagnant__c</field>
            <value>
                <elementReference>descriptif_accompagnant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>destination__c</field>
            <value>
                <elementReference>destination</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_traite__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>evenement__c</field>
            <value>
                <elementReference>VarEvenement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>formule__c</field>
            <value>
                <elementReference>VarFormulesDisponibles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>informations_etablissement_de_sante__c</field>
            <value>
                <elementReference>Varinfoprestasanteassistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>localisation__c</field>
            <value>
                <elementReference>localisation_assistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>moyen_de_retour_initialement_prevu__c</field>
            <value>
                <elementReference>moyen_de_retour_initiatialement_pr_vu</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pays__c</field>
            <value>
                <elementReference>VarPaysAssistance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>personne__c</field>
            <value>
                <elementReference>VarPersonne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_de_service_assistance__c</field>
            <value>
                <elementReference>type_de_service_assistance</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_case</name>
        <label>update_case</label>
        <locationX>8058</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>personne_inconnue__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_conseil</name>
        <label>Update conseil</label>
        <locationX>5616</locationX>
        <locationY>1922</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_record_type_conseil.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>analyser</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>date_de_notification__c</field>
            <value>
                <elementReference>date_du_service_conseil</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_traite__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>evenement__c</field>
            <value>
                <elementReference>VarEvenement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>formule__c</field>
            <value>
                <elementReference>VarFormulesDisponibles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>informations_etablissement_de_sante__c</field>
            <value>
                <elementReference>Varinfoprestasanteconseil</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pays__c</field>
            <value>
                <elementReference>VarPaysconseil</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>personne__c</field>
            <value>
                <elementReference>VarPersonne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_de_service_conseil__c</field>
            <value>
                <elementReference>type_service_conseil</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ville__c</field>
            <value>
                <elementReference>ville_conseil</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_had</name>
        <label>Update HAD</label>
        <locationX>5946</locationX>
        <locationY>1322</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_record_type_had.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>analyser</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>adresse_de_mise_en_place__c</field>
            <value>
                <elementReference>adresse_de_mise_en_place_du_service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>adresse_localisation__c</field>
            <value>
                <elementReference>adresse_localisation_had</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>caracteristique_du_lieu_de_had__c</field>
            <value>
                <elementReference>caracteristique_lieu_had</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>date_de_notification__c</field>
            <value>
                <elementReference>date_de_mise_en_place_du_service</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>description_type_d_aide__c</field>
            <value>
                <elementReference>description_type_d_aide</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_traite__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>environnement_familial__c</field>
            <value>
                <elementReference>environnement_familial_entourage_had</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>etage__c</field>
            <value>
                <elementReference>etage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>evenement__c</field>
            <value>
                <elementReference>VarEvenement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>formule__c</field>
            <value>
                <elementReference>VarFormulesDisponibles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>informations_etablissement_de_sante__c</field>
            <value>
                <elementReference>Varinfosprestasantehad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>localisation__c</field>
            <value>
                <elementReference>localisation_had_bis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pathologie__c</field>
            <value>
                <elementReference>Varpathologiehad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>personne__c</field>
            <value>
                <elementReference>VarPersonne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_d_intervention__c</field>
            <value>
                <elementReference>type_dintervention_had</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_tp</name>
        <label>Update TP</label>
        <locationX>6474</locationX>
        <locationY>1322</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_record_type_tiers_payant.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>analyser</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>affection_longue_duree__c</field>
            <value>
                <elementReference>affection_longue_duree_tp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>date_de_notification__c</field>
            <value>
                <elementReference>date_du_service_tp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_traite__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>evenement__c</field>
            <value>
                <elementReference>VarEvenement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>formule__c</field>
            <value>
                <elementReference>VarFormulesDisponibles</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hospitalisation_en_urgence__c</field>
            <value>
                <elementReference>hospitalisation_en_urgence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>informations_etablissement_de_sante__c</field>
            <value>
                <elementReference>Varinfoprestasantetp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pathologie__c</field>
            <value>
                <elementReference>Varpathologietp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pec_via_correspondant__c</field>
            <value>
                <elementReference>pec_via_correspondant</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>personne__c</field>
            <value>
                <elementReference>VarPersonne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>type_de_soins__c</field>
            <value>
                <elementReference>type_de_soin_tp</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>assistance_bis</name>
        <label>Assistance</label>
        <locationX>5242</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_record_type_assistance</targetReference>
        </connector>
        <fields>
            <name>textassistance</name>
            <fieldText>&lt;p&gt;Je créé un nouveau service assistance en renseignant les champs ci-dessous et je l&apos;associe à une formule souscrite par la personne&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>assistance_bis_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>assistance_bis_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>localisation_assistance</name>
                    <choiceReferences>localisation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Localisation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>adresse_localisation</name>
                    <dataType>String</dataType>
                    <fieldText>Adresse localisation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>informations_etablissement_sante</name>
                    <extensionName>c:lookupFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Information établissement de santé</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Recordtype.Name =&apos;Prestataire de santé&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Varinfoprestasanteassistance</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>pays_assistance</name>
                    <extensionName>c:lookupFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>pays__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pays</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>VarPaysAssistance</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>assistance_bis_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>date_du_service</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>date_de_notification</elementReference>
                    </defaultValue>
                    <fieldText>Date de notification</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>type_de_service_assistance</name>
                    <choiceReferences>type_service_assistance</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type de service</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>destination_assistance</name>
                    <choiceReferences>destination</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Destination</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>adresse_de_destination</name>
                    <dataType>String</dataType>
                    <fieldText>Adresse de destination</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>assistance_bis_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>accompagnant</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Accompagnant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>descriptif_accompagnant</name>
                    <dataType>String</dataType>
                    <fieldText>Descriptif accompagnant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>moyen_de_retour_initiatialement_pr_vu</name>
                    <choiceReferences>moyen_retour_initialement_prevu</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Moyen de retour initiatialement prévu</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>date_retour_prevu</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de retour prévu</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>formules_assistance</name>
            <choiceReferences>VarFormulesDisponibles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Liste des formules souscrites par la personne</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>conseil_ecran</name>
        <label>Conseil</label>
        <locationX>5616</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_record_type_conseil</targetReference>
        </connector>
        <fields>
            <name>texteconseil</name>
            <fieldText>&lt;p&gt;Je créé un service conseil et je l&apos;associe à une formule souscrite par la personne&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>conseil_ecran_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>conseil_ecran_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pays_conseil</name>
                    <extensionName>c:lookupFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>pays__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pays</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>VarPaysconseil</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ville_conseil</name>
                    <dataType>String</dataType>
                    <fieldText>Ville</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>conseil_ecran_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>informations_etablissement_sante_conseil</name>
                    <extensionName>c:lookupFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Informations établissement de santé</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Recordtype.Name =&apos;Prestataire de santé&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Varinfoprestasanteconseil</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>date_du_service_conseil</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>date_de_notification</elementReference>
                    </defaultValue>
                    <fieldText>Date de notification</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>type_de_service_conseil</name>
                    <choiceReferences>type_service_conseil</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type de service</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>formules_conseil</name>
            <choiceReferences>VarFormulesDisponibles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Liste des formules souscrites par la personne</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>evenement</name>
        <label>evenement</label>
        <locationX>5506</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_evenement</targetReference>
        </connector>
        <fields>
            <name>texte</name>
            <fieldText>&lt;p&gt;J&apos;associe le mail à un événement en cours de la personne, ou je créé un nouvel événement&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>reminder_evenement</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!VarMessageErreurEvenement}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>evenementscreen</name>
            <choiceReferences>Evenements</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Liste des événements en cours</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>nouvel_evenement</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;FONT size=&quot;2pt&quot;&gt;&lt;b&gt;Nouvel événement &lt;/b&gt; &lt;/FONT&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>evenement_existant</name>
        <label>évènement existant</label>
        <locationX>5990</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>nouveau_service_ou_en_cours</targetReference>
        </connector>
        <fields>
            <name>textevenementencours</name>
            <fieldText>&lt;p&gt;J&apos;associe le mail à un service en cours de l&apos;événement ou je créé un nouveau service&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>services</name>
            <choiceReferences>choix_services</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Liste des services en cours</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>type_de_service_choix</name>
            <choiceReferences>typologie_service</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nouveau service : choix du type de service</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>had</name>
        <label>Hospitalisation à domicile</label>
        <locationX>5946</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_record_type_had</targetReference>
        </connector>
        <fields>
            <name>texthad</name>
            <fieldText>&lt;p&gt;Je créé un nouveau service hospitalisation à domicile et je l&apos;associe à une formule souscrite par la personne&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>had_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>had_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>localisation_had_bis</name>
                    <choiceReferences>localisation_had</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Localisation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>adresse_localisation_had</name>
                    <dataType>String</dataType>
                    <fieldText>Adresse localisation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>informations_etablissement_sante_had</name>
                    <extensionName>c:lookupFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Informations établissement de santé</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Recordtype.Name =&apos;Prestataire de santé&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Varinfosprestasantehad</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>pays_had</name>
                    <extensionName>c:lookupFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>pays__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pays</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>VarPaysHad</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>had_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>adresse_de_mise_en_place_du_service</name>
                    <dataType>String</dataType>
                    <fieldText>Adresse de mise en place du service</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>caracteristique_du_lieu_had</name>
                    <choiceReferences>caracteristique_lieu_had</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Caractéristique du lieu de HAD</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>etage</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Etage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>description_type_d_aide</name>
                    <fieldText>Description type d&apos;aide</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>had_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>date_de_mise_en_place_du_service</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>date_de_notification</elementReference>
                    </defaultValue>
                    <fieldText>Date de notification</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>type_dintervention_had</name>
                    <choiceReferences>type_dintervention</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type d&apos;intervention</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>environnement_familial_entourage_had</name>
                    <choiceReferences>environnement_familial_entourage</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Environnement familial / entourage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>pathologie_had_test</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>codes_pathologie__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pathologie</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>code_et_diagnostic__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Varpathologiehad</assignToReference>
                        <name>selectedRecordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>formules_had_bis</name>
            <choiceReferences>VarFormulesDisponibles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Liste des formules souscrites par la personne</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>identification</name>
        <label>Identification</label>
        <locationX>4318</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Personne_et_services_vides</targetReference>
        </connector>
        <fields>
            <name>texte_introduction_identification</name>
            <fieldText>&lt;p&gt;&lt;b&gt;J&apos;identifie la personne ou le service&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>reminder</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 0, 0);&quot;&gt;{!VarMessageErreur}&lt;/span&gt;&lt;span style=&quot;color: rgb(250, 4, 4);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>texte_recherche_personne</name>
            <fieldText>&lt;p&gt;Recherche de la personne (par son nom, sa date de naissance ou son grand compte)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>recherche_personne</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>nom_et_dob__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Recordtype.Name =&apos;Personne&apos;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarPersonne</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>recherche_service</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Ou&lt;/u&gt; recherche du service (par son numéro)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>personne_inconnue</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>CaseNumber</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarSelectedService</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>espace</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>personne_non_identifiee</name>
            <dataType>Boolean</dataType>
            <fieldText>&lt;FONT size=&quot;2pt&quot;&gt;&lt;b&gt;Je n&apos;ai pas trouvé la personne dans la base adhérents &lt;/b&gt; &lt;/FONT&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>nouvel_evenement_bis</name>
        <label>Nouvel événement</label>
        <locationX>3966</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>creation_v_nement</targetReference>
        </connector>
        <fields>
            <name>texte_nouvel_evenement</name>
            <fieldText>&lt;p&gt;Je créé un nouvel événement en renseignant les champs ci-dessous&lt;b&gt; &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nouvel_evenement_bis_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>nouvel_evenement_bis_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pays</name>
                    <extensionName>c:lookupFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>pays__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pays de survenance</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Varpaysevenement</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ville</name>
                    <dataType>String</dataType>
                    <fieldText>Ville</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>nouvel_evenement_bis_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>type_d_evenement</name>
                    <choiceReferences>type_devenement</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type d&apos;événement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>description_de_levenement</name>
                    <fieldText>Description de l&apos;événement</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>affection_longue_duree</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Affection longue durée</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>nouvel_evenement_bis_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>date_de_survenance</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de survenance</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>date_de_notification</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de notification</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>type_service</name>
                    <choiceReferences>type_de_service</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type de service</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>tiers_payant_ecran</name>
        <label>Tiers Payant</label>
        <locationX>6474</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_record_type_tiers_payant</targetReference>
        </connector>
        <fields>
            <name>textetp</name>
            <fieldText>&lt;p&gt;Je créé un nouveau service tiers payant en renseignant les champs ci-dessous et je l&apos;associe à une formule souscrite par la personne&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>tiers_payant_ecran_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>tiers_payant_ecran_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>information_etablissement_sante_tp</name>
                    <extensionName>c:lookupFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Informations établissement de santé</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Recordtype.Name =&apos;Prestataire de santé&apos;</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Varinfoprestasantetp</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>pays_tiers_payant</name>
                    <extensionName>c:lookupFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>pays__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pays</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>VarPaysTiersPayant</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>date_du_service_tp</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>date_de_notification</elementReference>
                    </defaultValue>
                    <fieldText>Date de notification</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>tiers_payant_ecran_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pathologie</name>
                    <extensionName>c:lookupFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>codes_pathologie__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pathologie</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>code_et_diagnostic__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>Varpathologietp</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>type_de_soins_tp</name>
                    <choiceReferences>type_de_soin_tp</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type de soins</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>tiers_payant_ecran_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>hospitalisation_en_urgence</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Hospitalisation en urgence</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>pec_via_correspondant</name>
                    <dataType>Boolean</dataType>
                    <fieldText>PEC via correspondant</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>affection_longue_duree_tp</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Affection longue durée</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>formules_tiers_payant</name>
            <choiceReferences>VarFormulesDisponibles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Liste des formules souscrites par la personne</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>4192</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>identification</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Error_Document_Message</name>
        <label>Error  Document Message</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <flowName>Fault_Message_Display</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <stringValue>️ Action requise : Nombre de documents joints dépassé,  Votre e-mail contient actuellement plus de 500 documents joints, ce qui dépasse notre limite de traitement.  Merci de retirer certains documents afin que le nombre total soit réduit à 200 ou moins.</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1634</locationX>
        <locationY>2738</locationY>
        <flowName>Fault_Message_Display</flowName>
        <inputAssignments>
            <name>FaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CollectionlinkEntityID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countDocument</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmailToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempEmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>VarAssistancefinale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarConseilfinale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarDoc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VarDocColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>VarEvenement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFormuleassistance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFormuleconseil</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFormulehad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarFormuletp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarHADfinale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Varinfoprestasanteassistance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Varinfoprestasanteconseil</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Varinfoprestasantetp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Varinfosprestasantehad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarMessageErreur</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarMessageErreurEvenement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Varpathologiehad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Varpathologietp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPaysAssistance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPaysconseil</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Varpaysevenement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPaysHad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPaysTiersPayant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPersonne</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSelectedService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTpfinale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
