force-app/main/default/flows/SearchContactTiers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>3590</locationX>
        <locationY>3122</locationY>
        <actionName>ExecuteSOQL</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AssignCountContact</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjects</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>soqlQuery</name>
            <value>
                <elementReference>QuerryContactSOQL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExecuteSOQL</nameSegment>
        <outputParameters>
            <assignToReference>ListContactFounds</assignToReference>
            <name>sObjects</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>OpenPersonAfterupdated</name>
        <label>OpenPersonAfterupdated</label>
        <locationX>754</locationX>
        <locationY>4310</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>ScreenEndAction</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>IdToOpen</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>OpenPersonDecision</name>
        <label>OpenPerson</label>
        <locationX>490</locationX>
        <locationY>4094</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CheckedPerson.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SearchContactFromAPI</name>
        <label>Search Contact From API</label>
        <locationX>3590</locationX>
        <locationY>2906</locationY>
        <actionName>AP02_ContactSearchAPI</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_RecordTypeContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErreurApex</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>SelectedMetaData.Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endpointRecord</name>
            <value>
                <elementReference>SelectedMetaData.EndpointURL__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endpointToken</name>
            <value>
                <elementReference>SelectedMetaData.EndpointToken__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>password</name>
            <value>
                <elementReference>SelectedMetaData.Password__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>searchCondition</name>
            <value>
                <elementReference>SearchCondition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>username</name>
            <value>
                <elementReference>SelectedMetaData.UserName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>xAccessToken</name>
            <value>
                <elementReference>SelectedMetaData.X_AccessToken__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AP02_ContactSearchAPI</nameSegment>
        <outputParameters>
            <assignToReference>ListResultatContactSearch</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Emty_Field_To_TRue</name>
        <label>Assign Emty Field To TRue</label>
        <locationX>50</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>isAllSearchFieldEmpty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SearchContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IDsGCMeta</name>
        <label>Assign IDs GC Meta</label>
        <locationX>3531</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>IDS_GC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IDS_GCFromMetadata.OrganisationName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IDS_GCFromMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SelectedMetada</name>
        <label>Assign SelectedMetada</label>
        <locationX>1908</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>SelectedMetaData</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_FirstValueFilter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_FirstValueFilter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_visibility_DateOfBirth</name>
        <label>Assign visibility DateOfBirth</label>
        <locationX>3399</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Array_DateOfBirth</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IDS_GCFromMetadata.OrganisationName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Firstname_Visible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_visibility_FirstName</name>
        <label>Assign visibility FirstName</label>
        <locationX>3399</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Array_FirstName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IDS_GCFromMetadata.OrganisationName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LastName_Visible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_visibility_LastName</name>
        <label>Assign visibility  LastName</label>
        <locationX>3399</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>Array_LastName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IDS_GCFromMetadata.OrganisationName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PolicyNumber_is_Visible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_visibility_PolicyNumber</name>
        <label>Assign visibility  PolicyNumber</label>
        <locationX>3399</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Array_PolicyNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IDS_GCFromMetadata.OrganisationName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_IDsGCMeta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignActionToDo</name>
        <label>AssignActionToDo</label>
        <locationX>3042</locationX>
        <locationY>5042</locationY>
        <assignmentItems>
            <assignToReference>DecisionCreateOrupdateExiste</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdToOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>OpenPersonAfterupdated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignActionToDoFalse</name>
        <label>AssignActionToDo</label>
        <locationX>754</locationX>
        <locationY>4202</locationY>
        <assignmentItems>
            <assignToReference>DecisionCreateOrupdateExiste</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdToOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CheckedPerson.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpenPersonAfterupdated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCountContact</name>
        <label>AssignCountContact</label>
        <locationX>3590</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>CountContactFounsInSF</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListContactFounds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountContactFoundAPI</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListResultatContactSearch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Result_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMessageToShow</name>
        <label>AssignMessageToShow</label>
        <locationX>2206</locationX>
        <locationY>5426</locationY>
        <assignmentItems>
            <assignToReference>DecisionCreateOrupdateExiste</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdToOpen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>OpenPersonAfterupdated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSelectedContactFromTable</name>
        <label>Assign Selected Contact From Table</label>
        <locationX>3383</locationX>
        <locationY>3986</locationY>
        <assignmentItems>
            <assignToReference>ContactToCreate.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedValueFromTable.FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedValueFromTable.LastName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.date_de_naissance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedValueFromTable.DateOfBirth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.date_de_debut_de_contrat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedValueFromTable.StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.date_de_fin_de_contrat__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedValueFromTable.EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.numero_assure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedValueFromTable.PolicyNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonSelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedValueFromTable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedValueFromTable.PhoneNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.grand_compte_bis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedMetaData.OrganisationName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedMetaData.OrganisationName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SelectedValueFromTable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Field_VariableCopy_1_of_Assign_Emty_Field_To_TRue</name>
        <label>Assign Emty Field To TRue</label>
        <locationX>1820</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>isAllSearchFieldEmpty</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_fieldIsempty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResetArrayField</name>
        <label>Reset Array Field</label>
        <locationX>3311</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Array_DateOfBirth</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Array_FirstName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Array_LastName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Array_PolicyNumber</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IDS_GCFromMetadata</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>GetSelectedMetadata</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>GetSelectedMetadata</label>
        <locationX>1820</locationX>
        <locationY>2282</locationY>
        <assignNextValueToReference>currentItem_GetSelectedMetadata</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>List_MetaData</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_GetSelectedMetadata.OrganisationName__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>GrandCompte</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_FirstValueFilter</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>All_fieldIsempty</name>
        <label>All field is empty?</label>
        <locationX>1820</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>SearchContactFromAPI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SearchCondition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SearchCondition</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Emty_Field_To_TRue</targetReference>
            </connector>
            <label>Yes, empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContactSelectionner</name>
        <label>un contact Selectionner</label>
        <locationX>2907</locationX>
        <locationY>3554</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ResultScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OuiContactSelectionner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataExterne.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckedPerson</targetReference>
            </connector>
            <label>Oui, un contact selectionner</label>
        </rules>
    </decisions>
    <decisions>
        <name>CreatePerson</name>
        <label>Create Person ?</label>
        <locationX>3306</locationX>
        <locationY>4718</locationY>
        <defaultConnector>
            <targetReference>NoPersonCreated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmCreateContact.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OuiCreate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreatePersonSF</targetReference>
            </connector>
            <label>Yes, Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Firstname_Visible</name>
        <label>Firstname Visible?</label>
        <locationX>3531</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>LastName_Visible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FirstName_Visible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDS_GCFromMetadata.SearchByFirstName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_visibility_FirstName</targetReference>
            </connector>
            <label>Yes, FirstName Visible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Formule_Exist</name>
        <label>Formule Exist?</label>
        <locationX>3295</locationX>
        <locationY>4286</locationY>
        <defaultConnector>
            <targetReference>ErrorMessage3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFormule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PersonSelected.Produit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PersonSelected.Produit__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>FindContact</targetReference>
            </connector>
            <label>Yes, existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Formule_Exist_and_Same</name>
        <label>Formule Exist and Same?</label>
        <locationX>2206</locationX>
        <locationY>4826</locationY>
        <defaultConnector>
            <targetReference>AssignMessageToShow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExistSameFormula</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFormule</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetFormulePersonne.formule__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetFormule.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePersonFind</targetReference>
            </connector>
            <label>Exist and Same Formula</label>
        </rules>
        <rules>
            <name>Exist_AndNotSameFormula</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFormulePersonne</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetFormulePersonne.Id_Formule__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetFormule.id_formule__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenMsg3</targetReference>
            </connector>
            <label>Exist and Not Same Formula</label>
        </rules>
        <rules>
            <name>FormuleNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFormulePersonne</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenMsg1</targetReference>
            </connector>
            <label>Formule Not Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>GrandCompteExiste</name>
        <label>Grand compte Existe?</label>
        <locationX>3311</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>ErrorGC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oui_GCexiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetGC</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchContact</targetReference>
            </connector>
            <label>Oui, GC existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DateOfBirth_Visible</name>
        <label>Is DateOfBirth Visible?</label>
        <locationX>3531</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Firstname_Visible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_DateOfBirth_Visible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDS_GCFromMetadata.SearchByDateOfBirth__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_visibility_DateOfBirth</targetReference>
            </connector>
            <label>Yes, DateOfBirth Visible</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Result_Found</name>
        <label>Is Result Found</label>
        <locationX>3590</locationX>
        <locationY>3338</locationY>
        <defaultConnector>
            <targetReference>ErreurAucunresultat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CountContactFoundAPI</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountContactFounsInSF</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResultScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LastName_Visible</name>
        <label>LastName is Visible?</label>
        <locationX>3531</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>PolicyNumber_is_Visible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_LastName_Visible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDS_GCFromMetadata.SearchByLastName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_visibility_LastName</targetReference>
            </connector>
            <label>Yes, LastName Visible</label>
        </rules>
    </decisions>
    <decisions>
        <name>PersonExist</name>
        <label>Person Exist ?</label>
        <locationX>1804</locationX>
        <locationY>3770</locationY>
        <defaultConnector>
            <targetReference>SelectedValueFromTable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_assistance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataExterne.firstSelectedRow.Status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessage3</targetReference>
            </connector>
            <label>No assistance</label>
        </rules>
        <rules>
            <name>YesExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckedPerson</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_ExistForm</targetReference>
            </connector>
            <label>Yes, exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>PersonIsFound</name>
        <label>Person Is Found ?</label>
        <locationX>2756</locationX>
        <locationY>4502</locationY>
        <defaultConnector>
            <targetReference>CreateContactConfirm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_isFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetFormulePersonne</targetReference>
            </connector>
            <label>Yes, is Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>PolicyNumber_is_Visible</name>
        <label>PolicyNumber is Visible?</label>
        <locationX>3531</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Assign_IDsGCMeta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_PolicyNumber_Visible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IDS_GCFromMetadata.SearchByPolicyNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_visibility_PolicyNumber</targetReference>
            </connector>
            <label>Yes, PolicyNumber Visible</label>
        </rules>
    </decisions>
    <decisions>
        <description>Recherche Contact</description>
        <name>Recherch_ContactOuPrestataires</name>
        <label>Recherch un Contact ou Prestataires?</label>
        <locationX>4188</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>RecherchePrestataire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Recherche Prestataire</defaultConnectorLabel>
        <rules>
            <name>RechercheContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isSearchContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>List_MetaData</targetReference>
            </connector>
            <label>Recherche Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>WichDecision</name>
        <label>Wich Decision?</label>
        <locationX>2074</locationX>
        <locationY>5042</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ResultScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateAnotherPerson</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BtnBarDecision1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CreateAsNewPersonne</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>CreatePersonSF</targetReference>
            </connector>
            <label>Create Another Person</label>
        </rules>
        <rules>
            <name>Create_Formula_and_add_To_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BtnBarDecision1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AddFormulaToPersonne</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Formula_for_existing_Person</targetReference>
            </connector>
            <label>Create Formula and add To Person</label>
        </rules>
    </decisions>
    <decisions>
        <name>WichDecsion</name>
        <label>Wich Decsion?</label>
        <locationX>886</locationX>
        <locationY>3986</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ResultScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpenPerson</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DecisionPersonFound.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OuvrirPersonne</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpenPersonDecision</targetReference>
            </connector>
            <label>Open Person</label>
        </rules>
        <rules>
            <name>UpdateinfosPerson</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DecisionPersonFound.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ActualiserInformationOuvrir</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePerson</targetReference>
            </connector>
            <label>Update infos Person</label>
        </rules>
    </decisions>
    <description>19/06/24 Ajout de colonne  Souscripteur</description>
    <dynamicChoiceSets>
        <name>ListGrandCompte</name>
        <collectionReference>GetGC</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MetaDataItemstems</name>
        <collectionReference>List_MetaData</collectionReference>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>CM_SearchContactTiers__mdt</object>
        <valueField>OrganisationName__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>QuerryContactSOQL</name>
        <dataType>String</dataType>
        <expression>&quot;select Id, LastName,   AccountId, IsPersonAccount , FirstName, Salutation, Name, RecordTypeId, MailingStreet, MailingCity, MailingState, MailingPostalCode, MailingCountry, MailingStateCode, MailingCountryCode, MailingLatitude, MailingLongitude, MailingGeocodeAccuracy, MailingAddress, Phone, Fax, MobilePhone, ReportsToId, Email, Title, Department, OwnerId, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, SystemModstamp, LastActivityDate, LastCURequestDate, LastCUUpdateDate, LastViewedDate, LastReferencedDate, EmailBouncedReason, EmailBouncedDate, IsEmailBounced, PhotoUrl, Jigsaw, JigsawContactId, IndividualId, Genre__c, actif__c, activite__c, age__c, assure_principal__c, assure_principal_bis__c, autre_telephone__c, ayant_droit__c, contact__c, contact_privilegie__c, date_de_debut_de_contrat__c, date_de_fin_de_contrat__c, date_de_naissance__c, date_inactivite__c, entreprise__c, etablissement__c, fonction_du_contact__c, fonctions_contact_grand_compte__c, grand_compte__c, grand_compte_bis__c, identifiant_unique__c, lien_de_parente_bis__c, nationalite_pays__c, nom_et_dob__c, numero_assure__c, pays__c, pays_d_expatriation__c, pays_de_residence__c, personne__c, prestataire__c, regime__c, relation_de_la_personne_bis__c, service__c, specialite__c, ville__c, vip__c, Deactivationdate__c, IdentifiantUniqueIsEmpty__c from Contact WHERE &quot; +

&quot; grand_compte_bis__c =  &apos;&quot;+{!SelectedMetaData.OrganisationName__c}+&quot;&apos; AND  &quot;+

IF(
    NOT(ISBLANK({!ContactSearchAPI.PolicyNumber__c})),
    &quot; numero_assure__c  like  &apos;%&quot;  + {!ContactSearchAPI.PolicyNumber__c} + &quot;%&apos;&quot;, 
    &apos;&apos;
) +
IF(
    NOT(ISBLANK({!ContactSearchAPI.FirstName__c})),
    IF(
        NOT(ISBLANK({!ContactSearchAPI.PolicyNumber__c})),
        &quot; AND FirstName = &apos;&quot; + {!ContactSearchAPI.FirstName__c} + &quot;&apos;&quot;, 
        &quot; FirstName = &apos;&quot; + {!ContactSearchAPI.FirstName__c} + &quot;&apos;&quot;
    ),
    &quot;&quot;
) +
IF(
    NOT(ISBLANK({!ContactSearchAPI.LastName__c})),
    IF(
        OR(
            NOT(ISBLANK({!ContactSearchAPI.PolicyNumber__c})),
            NOT(ISBLANK({!ContactSearchAPI.FirstName__c}))
        ),
        &quot; AND LastName = &apos;&quot; + {!ContactSearchAPI.LastName__c} + &quot;&apos;&quot;, 
        &quot; LastName = &apos;&quot; + {!ContactSearchAPI.LastName__c} + &quot;&apos;&quot;
    ),
    &quot;&quot;
) +
IF(
    NOT(ISBLANK({!ContactSearchAPI.DateOfBirth__c})),
    IF(
        OR(
            NOT(ISBLANK({!ContactSearchAPI.PolicyNumber__c})),
            NOT(ISBLANK({!ContactSearchAPI.FirstName__c})),
            NOT(ISBLANK({!ContactSearchAPI.LastName__c}))
        ),
        &quot; AND date_de_naissance__c = &quot; + TEXT({!ContactSearchAPI.DateOfBirth__c}) + &quot;&quot;,
        &quot; date_de_naissance__c = &quot; + TEXT({!ContactSearchAPI.DateOfBirth__c}) + &quot;&quot;
    ),
    &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>SearchCondition</name>
        <dataType>String</dataType>
        <expression>IF(
        NOT(ISBLANK({!ContactSearchAPI.DateOfBirth__c})),
        &apos;birthdate=&apos; &amp; TEXT({!ContactSearchAPI.DateOfBirth__c}),
        &apos;&apos;
    )
    + IF(
        AND(
            NOT(ISBLANK({!ContactSearchAPI.PolicyNumber__c})),
            NOT(ISBLANK({!ContactSearchAPI.DateOfBirth__c}))
        ),
        &apos;&amp;&apos;,
        &apos;&apos;
    )
    + IF(
        NOT(ISBLANK({!ContactSearchAPI.PolicyNumber__c})),
        &apos;code=&apos; &amp; {!ContactSearchAPI.PolicyNumber__c},
        &apos;&apos;
    )
    + IF(
        AND(
            NOT(ISBLANK({!ContactSearchAPI.FirstName__c})),
            OR(
                NOT(ISBLANK({!ContactSearchAPI.PolicyNumber__c})),
                NOT(ISBLANK({!ContactSearchAPI.DateOfBirth__c}))
            )
        ),
        &apos;&amp;&apos;,
        &apos;&apos;
    )
    + IF(
        NOT(ISBLANK({!ContactSearchAPI.FirstName__c})),
        &apos;firstname=&apos; &amp; {!ContactSearchAPI.FirstName__c},
        &apos;&apos;
    )
    + IF(
        AND(
            NOT(ISBLANK({!ContactSearchAPI.LastName__c})),
            OR(
                NOT(ISBLANK({!ContactSearchAPI.FirstName__c})),
                NOT(ISBLANK({!ContactSearchAPI.PolicyNumber__c})),
                NOT(ISBLANK({!ContactSearchAPI.DateOfBirth__c}))
            )
        ),
        &apos;&amp;&apos;,
        &apos;&apos;
    )
    + IF(
        NOT(ISBLANK({!ContactSearchAPI.LastName__c})),
        &apos;lastname=&apos; &amp; {!ContactSearchAPI.LastName__c},
        &apos;&apos;
    )</expression>
    </formulas>
    <interviewLabel>Search Contact Tiers {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Search Contact Tiers</label>
    <loops>
        <name>Get_FirstValueFilter</name>
        <label>Get FirstValue Filter</label>
        <locationX>1820</locationX>
        <locationY>2390</locationY>
        <collectionReference>GetSelectedMetadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SelectedMetada</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reset_Field_VariableCopy_1_of_Assign_Emty_Field_To_TRue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>IDS_GCFromMetadata</name>
        <label>IDS GC From Metadata</label>
        <locationX>3311</locationX>
        <locationY>458</locationY>
        <collectionReference>List_MetaData</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_DateOfBirth_Visible</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetGC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SelectedValueFromTable</name>
        <label>Selected Value From Table</label>
        <locationX>3295</locationX>
        <locationY>3878</locationY>
        <collectionReference>DataExterne.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignSelectedContactFromTable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetFormule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Formula_for_existing_Person</name>
        <label>Create Formula for existing Person</label>
        <locationX>2074</locationX>
        <locationY>5150</locationY>
        <connector>
            <targetReference>AssignMessageToShow</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>FindContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>formule__c</field>
            <value>
                <elementReference>GetFormule.Id</elementReference>
            </value>
        </inputAssignments>
        <object>formule_de_la_personne__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Formule_de_la_personne1</name>
        <label>Create Formule de la personne</label>
        <locationX>2602</locationX>
        <locationY>5042</locationY>
        <connector>
            <targetReference>AssignMessageToShow</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>FindContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>formule__c</field>
            <value>
                <elementReference>GetFormule.Id</elementReference>
            </value>
        </inputAssignments>
        <object>formule_de_la_personne__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_FormulOfpersonn</name>
        <label>Create Formule de la personne</label>
        <locationX>3042</locationX>
        <locationY>4934</locationY>
        <connector>
            <targetReference>AssignActionToDo</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>formule__c</field>
            <value>
                <elementReference>GetFormule.Id</elementReference>
            </value>
        </inputAssignments>
        <object>formule_de_la_personne__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreatePersonSF</name>
        <label>CreatePerson</label>
        <locationX>3042</locationX>
        <locationY>4826</locationY>
        <connector>
            <targetReference>Create_FormulOfpersonn</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorMessage1</targetReference>
        </faultConnector>
        <inputReference>ContactToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>CheckedPerson</name>
        <label>Checked Person</label>
        <locationX>1804</locationX>
        <locationY>3662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PersonExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordTypeContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataExterne.firstSelectedRow.FirstName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataExterne.firstSelectedRow.LastName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>date_de_naissance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataExterne.firstSelectedRow.DateOfBirth__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>numero_assure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DataExterne.firstSelectedRow.PolicyNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>grand_compte_bis__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedMetaData.OrganisationName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FindContact</name>
        <label>FindContact</label>
        <locationX>2756</locationX>
        <locationY>4394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PersonIsFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>numero_assure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactToCreate.numero_assure__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>date_de_naissance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactToCreate.date_de_naissance__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactToCreate.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>grand_compte_bis__c</field>
            <operator>In</operator>
            <value>
                <elementReference>IDS_GC</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordTypeContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordTypeContact</name>
        <label>Get RecordType Personne</label>
        <locationX>3590</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>person</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFormule</name>
        <label>GetFormule</label>
        <locationX>3295</locationX>
        <locationY>4178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Formule_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>id_formule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonSelected.Produit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>formule_vyv_ia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFormulePersonne</name>
        <label>Get Formule Personne</label>
        <locationX>2206</locationX>
        <locationY>4610</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Update_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FindContact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>formule_de_la_personne__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetGC</name>
        <label>Get GC</label>
        <locationX>3311</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GrandCompteExiste</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>IDS_GC</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>List_MetaData</name>
        <label>List MetaData</label>
        <locationX>3311</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ResetArrayField</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CM_SearchContactTiers__mdt</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePerson</name>
        <label>Update Person</label>
        <locationX>754</locationX>
        <locationY>4094</locationY>
        <connector>
            <targetReference>AssignActionToDoFalse</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErroMsgUpdate</targetReference>
        </faultConnector>
        <inputReference>CheckedPerson</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePersonFind</name>
        <label>Update Person</label>
        <locationX>1546</locationX>
        <locationY>4934</locationY>
        <connector>
            <targetReference>AssignMessageToShow</targetReference>
        </connector>
        <inputReference>FindContact</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Update_Contact</name>
        <label>Confirm Update Contact</label>
        <locationX>2206</locationX>
        <locationY>4718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Formule_Exist_and_Same</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_MsgConfirmCreation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 22px;&quot;&gt;La personne existe dj. Souhaitez-vous mettre  jour ses informations ?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Update_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Update_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FindContact.Genre__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FindContact.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FindContact.date_de_naissance__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FindContact.Email</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FindContact.nationalite_pays__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FindContact.MobilePhone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FindContact.autre_telephone__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FindContact.MailingAddress</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_Update_Contact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FindContact.grand_compte_bis__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FindContact.date_de_debut_de_contrat__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FindContact.date_de_fin_de_contrat__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Met  jour l&apos;information</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CreateContactConfirm</name>
        <label>Confirm Create Contact</label>
        <locationX>3306</locationX>
        <locationY>4610</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreatePerson</targetReference>
        </connector>
        <fields>
            <name>MsgConfirmCreation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Voulez-vous vraiment crer la personne slectionne dans nos contacts ?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreateContactConfirm_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CreateContactConfirm_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactToCreate.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactToCreate.date_de_naissance__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactToCreate.Email</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CreateContactConfirm_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactToCreate.date_de_debut_de_contrat__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactToCreate.date_de_fin_de_contrat__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Formule</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Formule&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>formula</name>
                    <fieldText>&lt;p&gt;{!formulePersonne}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ConfirmCreateContact</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>both</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Annuler&quot;,&quot;value&quot;:&quot;Non&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:close&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Crer la personne&quot;,&quot;value&quot;:&quot;OuiCreate&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:check&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErreurApex</name>
        <label>Erreur Apex</label>
        <locationX>4538</locationX>
        <locationY>3014</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MsgApex</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErreurAucunresultat</name>
        <label>Erreur Aucun resultat</label>
        <locationX>4274</locationX>
        <locationY>3446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Retour  l&apos;cran de recherche</backButtonLabel>
        <fields>
            <name>msgR</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 26px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 24px; color: rgb(211, 20, 20);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: rgb(247, 1, 1); font-size: 18px; font-family: sans-serif;&quot;&gt;Aucun rsultat n&apos;a t trouv, ni du ct de &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(211, 20, 20); font-size: 24px;&quot;&gt;{!SelectedMetaData.Label}&lt;/strong&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: rgb(255, 0, 0); font-size: 20px; font-family: sans-serif;&quot;&gt;,&lt;/span&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: rgb(255, 0, 0); font-size: 18px; font-family: sans-serif;&quot;&gt; ni de Salesforce.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErroMsgUpdate</name>
        <label>ErroMsgUpdate</label>
        <locationX>1018</locationX>
        <locationY>4202</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;strong&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorGC</name>
        <label>Erreur GC</label>
        <locationX>4802</locationX>
        <locationY>2174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Msg1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Aucun Grand compte disponible.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessage1</name>
        <label>ErrorMessage</label>
        <locationX>3306</locationX>
        <locationY>4934</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(169, 39, 39);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorMessage3</name>
        <label>ErrorMessage</label>
        <locationX>1804</locationX>
        <locationY>5852</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;Aucun contrat pour cet adhrent.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoPersonCreated</name>
        <label>NoPersonCreated</label>
        <locationX>3570</locationX>
        <locationY>4826</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MessageM</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Aucune Personne crer ou modifier.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Person_ExistForm</name>
        <label>Person Exist Form</label>
        <locationX>886</locationX>
        <locationY>3878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WichDecsion</targetReference>
        </connector>
        <fields>
            <name>Titre</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Adhrent existe dj dans Salesforce. Souhaitez-vous mettre  jour ses informations ?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Person_ExistForm_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Person_ExistForm_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CheckedPerson.Name</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CheckedPerson.date_de_naissance__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CheckedPerson.Email</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CheckedPerson.MobilePhone</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CheckedPerson.autre_telephone__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CheckedPerson.MailingAddress</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CheckedPerson.pays__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CheckedPerson.nationalite_pays__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Person_ExistForm_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CheckedPerson.numero_assure__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CheckedPerson.date_de_debut_de_contrat__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CheckedPerson.date_de_fin_de_contrat__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CheckedPerson.pays_d_expatriation__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>DecisionPersonFound</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>both</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Annuler&quot;,&quot;value&quot;:&quot;Quitter&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:close&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Actualiser l&apos;information et Ouvrir&quot;,&quot;value&quot;:&quot;ActualiserInformationOuvrir&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:record_update&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Ouvrir la personne&quot;,&quot;value&quot;:&quot;OuvrirPersonne&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:adduser&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RecherchePrestataire</name>
        <label>Recherche Prestataire</label>
        <locationX>5066</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Contact.Name</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ResultScreen</name>
        <label>ResultScreen</label>
        <locationX>2907</locationX>
        <locationY>3446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ContactSelectionner</targetReference>
        </connector>
        <fields>
            <name>Contact_In_Vyv_Ia</name>
            <fieldText>{!$Label.CM_TitreTabs}</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_In_Vyv_Ia_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactSF</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Contact</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>ListContactFounds</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Name,date_de_naissance__c,numero_assure__c,date_de_debut_de_contrat__c,date_de_fin_de_contrat__c,MobilePhone,actif__c,grand_compte_bis__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFilters</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFlexes</name>
                        <value>
                            <stringValue>All</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Name:0, date_de_naissance__c:0, numero_assure__c:0, date_de_debut_de_contrat__c:0, date_de_fin_de_contrat__c:0, MobilePhone:0, actif__c:0, grand_compte_bis__c:0</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showRowNumbers</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRowNumbers</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showRecordCount</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_showRecordCount</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isDisplayHeader</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isDisplayHeader</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableLabel</name>
                        <value>
                            <stringValue>Contacts</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableIcon</name>
                        <value>
                            <stringValue>standard:search</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isShowSearchBar</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideClearSelectionButton</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideClearSelectionButton</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>openLinkinSameTab</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_openLinkinSameTab</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxNumberOfRows</name>
                        <value>
                            <numberValue>100.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowOverflow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowOverflow</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_tableBorder</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableBorder</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CountContactFounsInSF</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>MessageContactSFVide</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Aucun adhrent correspondant trouv sur salesforce.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CountContactFounsInSF</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>ContactFromACS</name>
            <fieldText>{!$Label.CM_TitreTabsFromAPI} {!APIname}</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ContactFromACS_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>espace</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DataExterne</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ContactSearch_API__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Rsultats des contacts trouvs via le service externe.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>ListResultatContactSearch</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Subscribe__c&quot;,&quot;guid&quot;:&quot;column-34d4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Souscripteur&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FirstName__c&quot;,&quot;guid&quot;:&quot;column-65a4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName__c&quot;,&quot;guid&quot;:&quot;column-4fb1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;DateOfBirth__c&quot;,&quot;guid&quot;:&quot;column-bf00&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Date Of Birth&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;PolicyNumber__c&quot;,&quot;guid&quot;:&quot;column-954a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Policy Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StartDate__c&quot;,&quot;guid&quot;:&quot;column-1dfc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;EndDate__c&quot;,&quot;guid&quot;:&quot;column-f28a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;DestinationZones__c&quot;,&quot;guid&quot;:&quot;column-c655&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Destination Zones&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;PhoneNumber__c&quot;,&quot;guid&quot;:&quot;column-4ca8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;Phone Number&quot;,&quot;type&quot;:&quot;phone&quot;},{&quot;apiName&quot;:&quot;Produit__c&quot;,&quot;guid&quot;:&quot;column-ef36&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:9,&quot;label&quot;:&quot;Produit&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-2d8e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:10,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>MessageWarning</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; &lt;/strong&gt;Uniquement les contacts figurant dans la liste du tableau des contacts trouvs dans la source externe seront pris en compte par le bouton Vrifier / Crer.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Crer l&apos;adhrent slectionn.</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenEndAction</name>
        <label>ScreenEndAction</label>
        <locationX>754</locationX>
        <locationY>4418</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgCreateionsuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(9, 228, 49); background-color: rgb(255, 255, 255);&quot;&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 36px; color: rgb(9, 228, 49); background-color: rgb(255, 255, 255);&quot;&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 28px; color: rgb(9, 228, 49);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Adhrent ajout avec succs.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DecisionCreateOrupdateExiste</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>msgUpdatesuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 36px;&quot;&gt;&lt;/strong&gt; &lt;strong style=&quot;font-size: 20px;&quot;&gt;Les informations de l&apos;adhrent ont t mises  jour avec succs.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DecisionCreateOrupdateExiste</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenMsg1</name>
        <label>ScreenMsg</label>
        <locationX>2602</locationX>
        <locationY>4934</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Non</backButtonLabel>
        <connector>
            <targetReference>Create_Formule_de_la_personne1</targetReference>
        </connector>
        <fields>
            <name>Msg3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;La formule associe  la personne est introuvable ou a t supprime. Voulez-vous rattacher cette nouvelle formule  la personne ?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Oui</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenMsg3</name>
        <label>ScreenMsg</label>
        <locationX>2074</locationX>
        <locationY>4934</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Non</backButtonLabel>
        <connector>
            <targetReference>WichDecision</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Msg3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px; color: rgb(0, 122, 251);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Il semble que la formule existante sur la personne slectionne depuis  &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(24, 24, 24);&quot;&gt;{!SelectedMetaData.Label}&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt; est diffrente de celle qui est dans la base Salesforce.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&quot;Voulez-vous crer un doublon de cette personne ?&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BtnBarDecision1</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Ajouter La formule  la personne&quot;,&quot;value&quot;:&quot;AddFormulaToPersonne&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Crer en tant qu&apos;une nouvel Personne&quot;,&quot;value&quot;:&quot;CreateAsNewPersonne&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:adduser&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Oui</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SearchContact</name>
        <label>Recherche Contact</label>
        <locationX>1820</locationX>
        <locationY>2174</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetSelectedMetadata</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(247, 3, 3);&quot;&gt;Veuillez renseigner au moins l&apos;un de ces champs &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isAllSearchFieldEmpty</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SearchContact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SearchContact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GrandCompte</name>
                    <choiceReferences>MetaDataItemstems</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Grand compte</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SearchContact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ImageGC</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>ContactGC</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>50</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ElementFiltre</name>
            <fieldText>{!$Label.CM_SearchFilter}</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ElementFiltre_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactSearchAPI.PolicyNumber__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Array_PolicyNumber</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>GrandCompte</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactSearchAPI.FirstName__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Array_FirstName</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>GrandCompte</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactSearchAPI.LastName__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Array_LastName</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>GrandCompte</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ContactSearchAPI.DateOfBirth__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Array_DateOfBirth</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <elementReference>GrandCompte</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ElementFiltre_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>msg4</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 24px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Seuls les champs visibles et remplis sont considrs comme critres de filtre pour la recherche.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>imagePerson</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>Personne</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>80</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageWidth</name>
                        <value>
                            <stringValue>80</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ElementFiltre_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Notice</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;  Si vous fournissez plusieurs critres tels que le nom, le prnom, le numro de contrat et la date de naissance, l&apos;API utilisera toutes ces informations pour effectuer une recherche exacte dans la base de tiers.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;  &lt;/span&gt;Si vous renseignez uniquement le numro de contrat, l&apos;API recherchera les adhrents correspondant uniquement  ce numro de contrat.&quot;&amp;nbsp;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Rechercher l&apos;adhrent</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>4062</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recherch_ContactOuPrestataires</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>formulePersonne</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/{!GetFormule.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!GetFormule.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>APIname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Array_DateOfBirth</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Array_FirstName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Array_LastName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Array_PolicyNumber</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactSearchAPI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContactSearch_API__c</objectType>
    </variables>
    <variables>
        <name>ContactToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CountContactFoundAPI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountContactFounsInSF</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_CM_bySelected_GC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CM_SearchContactTiers__mdt</objectType>
    </variables>
    <variables>
        <name>currentItem_GetSelectedMetadata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CM_SearchContactTiers__mdt</objectType>
    </variables>
    <variables>
        <name>DecisionCreateOrupdateExiste</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IDS_GC</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdToOpen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isAllSearchFieldEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isSearchContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ListContactFounds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ListResultatContactSearch</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContactSearch_API__c</objectType>
    </variables>
    <variables>
        <name>MoonshotIDs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numero_police</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>DataExterne.firstSelectedRow.PolicyNumber__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>PersonSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContactSearch_API__c</objectType>
    </variables>
    <variables>
        <name>SelectedCM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContactSearch_API__c</objectType>
    </variables>
    <variables>
        <name>SelectedMetaData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CM_SearchContactTiers__mdt</objectType>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
