force-app/main/default/flows/Service_SCR_Nouvelle_Finance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_7</name>
        <label>Devis</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Urgence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Urgence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Type_de_devis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_de_devis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Sous_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sous_type_de_finance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numerodevis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Garantie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pick_garantieMoyen.garantieId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Liste_de_moyens__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pick_garantieMoyen.listeDeMoyens</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Date_reception_facture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_de_reception_devis</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pre_remplissage_champ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FactureChamp</name>
        <label>Facture</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Type_de_facture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_de_facture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Num_ro_de_facture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Sous_type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sous_type_de_facture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Garantie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pickgarantiemoyen.garantieId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Liste_de_moyens__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pickgarantiemoyen.listeDeMoyens</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Date_reception_facture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_de_reception_fac</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Pre_remplissage_champ</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Finance_record_id</name>
        <label>Finance record id</label>
        <locationX>1040</locationX>
        <locationY>1856</locationY>
        <assignmentItems>
            <assignToReference>financeRid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateDevisFacture.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Redirect_to_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pre_remplissage_champ</name>
        <label>Pre-remplissage champ</label>
        <locationX>1040</locationX>
        <locationY>1640</locationY>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_recordtype.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Personne__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_fields.personne__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Analyse</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.pays_d_arrivee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_fields.pays__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_fields.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Evenement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_fields.evenement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Formule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_fields.formule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.TECH_statusbar__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusbar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.pathologie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_fields.pathologie__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_devis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rembourssement</name>
        <label>Rembourssement</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nom_du_remboursement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateDevisFacture.Date_reception_facture__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_de_reception_rem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pre_remplissage_champ</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Devis</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;Devis&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Devis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Facture</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;Facture&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Facture</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remboursement</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;Remboursement&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remboursement</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Copy_1_of_Garantie_and_Moyen_filled</name>
        <label>Garantie and Moyen filled?</label>
        <locationX>974</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>FactureChamp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_route_back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pickgarantiemoyen.garantieId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_Facture</targetReference>
            </connector>
            <label>route back</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_14</name>
        <label>Garantie and Moyen filled?</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Assignment_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pick_garantieMoyen.garantieId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Prequalifier_devi</targetReference>
            </connector>
            <label>route back</label>
        </rules>
    </decisions>
    <decisions>
        <name>Moyen_ou_Garantie</name>
        <label>Moyen ou Garantie ?</label>
        <locationX>545</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Qualification_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>A des moyen/garentie</defaultConnectorLabel>
        <rules>
            <name>Pas_de_moyen_garentie</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Moyen</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_garantee</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_pas_de_moyen</targetReference>
            </connector>
            <label>Pas de moyen/garentie</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_facture</name>
        <label>Type facture ?</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Create_Facture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Facture</defaultConnectorLabel>
        <rules>
            <name>DevisScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_de_finance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Devis</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prequalifier_devi</targetReference>
            </connector>
            <label>Devis</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_finance_remboussement</name>
        <label>Type finance = remboussement ?</label>
        <locationX>1040</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Remboussement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Type_finance_remboussement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_de_finance</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Remboursement</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Type_de_finance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_facture</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>soustype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sous_types_d_emails__c</picklistField>
        <picklistObject>EmailMessage</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>soustypefinance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sous_type__c</picklistField>
        <picklistObject>facture_devis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>type_email</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_de_pieces_jointes__c</picklistField>
        <picklistObject>EmailMessage</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeDeDevis</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_de_devis__c</picklistField>
        <picklistObject>facture_devis__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>typeFacture</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_de_facture__c</picklistField>
        <picklistObject>facture_devis__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Service {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service-SCR-Nouvelle-Finance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_devis</name>
        <label>Create devis</label>
        <locationX>1040</locationX>
        <locationY>1748</locationY>
        <connector>
            <targetReference>Finance_record_id</targetReference>
        </connector>
        <inputReference>CreateDevisFacture</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_garantee</name>
        <label>get garantee</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Moyen_ou_Garantie</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_fields.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>garantie_du_service__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Moyen</name>
        <label>Get Moyen</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_garantee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Service_fields.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>moyen_du_service__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_recordtype</name>
        <label>get recordtype</label>
        <locationX>1040</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_finance_remboussement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Type_de_finance</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_fields</name>
        <label>Get Service fields</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Moyen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Facture</name>
        <label>Prequalifiier un facture</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Précédent</backButtonLabel>
        <connector>
            <targetReference>Copy_1_of_Garantie_and_Moyen_filled</targetReference>
        </connector>
        <fields>
            <name>Create_Facture_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Facture_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Num_ro_de_facture</name>
                    <dataType>String</dataType>
                    <fieldText>Numéro de facture</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Facture_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_de_facture</name>
                    <choiceReferences>typeFacture</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type de facture</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_Facture_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Facture_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sous_type_de_facture</name>
                    <choiceReferences>soustypefinance</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sous-type de facture</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Facture_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_de_reception_fac</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de réception</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>pickgarantiemoyen</name>
            <extensionName>c:lwc02_comboMoyensV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Service_fields.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sousTypeDeFinance</name>
                <value>
                    <elementReference>Sous_type_de_facture</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_pas_de_moyen</name>
        <label>Error pas de moyen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Précédent</backButtonLabel>
        <fields>
            <name>pasdemoyentest</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 18px;&quot;&gt;Vous ne disposez pas des moyens ou des garanties nécessaires pour créer une finance.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; font-size: 18px;&quot;&gt;Merci de le renseigner dès que possible sur le service suivant&amp;nbsp;: &lt;/strong&gt;&lt;a href=&quot;/{!Get_Service_fields.ParentId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; font-size: 18px;&quot;&gt;&lt;strong&gt;{!Get_Service_fields.CaseNumber}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(33, 33, 33); font-size: 18px; color: rgb(236, 236, 236);&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Copy_1_of_ErrMsg</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Prequalifier_devi</name>
        <label>Pre-qualifier un devi</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Précédent</backButtonLabel>
        <connector>
            <targetReference>Decision_14</targetReference>
        </connector>
        <fields>
            <name>title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Pr&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, &amp;quot;Trebuchet MS&amp;quot;, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;; background-color: rgb(255, 255, 255);&quot;&gt;é&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;-qualifier le devis&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Prequalifier_devi_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Prequalifier_devi_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>numerodevis</name>
                    <dataType>String</dataType>
                    <fieldText>Numéro du devis</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Prequalifier_devi_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_de_devis</name>
                    <choiceReferences>TypeDeDevis</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type de devis</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Prequalifier_devi_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Prequalifier_devi_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sous_type_de_finance</name>
                    <choiceReferences>soustypefinance</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sous-type de devis</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Urgence</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Urgence</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Prequalifier_devi_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_de_reception_devis</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de réception</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>pick_garantieMoyen</name>
            <extensionName>c:lwc02_comboMoyensV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>Get_Service_fields.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sousTypeDeFinance</name>
                <value>
                    <elementReference>Sous_type_de_finance</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Qualification_Email</name>
        <label>Qualification de l&apos;email</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Précédent</backButtonLabel>
        <connector>
            <targetReference>get_recordtype</targetReference>
        </connector>
        <fields>
            <name>Qualification_Email_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Qualification_Email_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_de_finance</name>
                    <choiceReferences>Devis</choiceReferences>
                    <choiceReferences>Facture</choiceReferences>
                    <choiceReferences>Remboursement</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Devis</defaultSelectedChoiceReference>
                    <fieldText>Type de finance</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Qualification_Email_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Qualification_Email_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Qualification_Email_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Qualification_Email_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_to_record</name>
        <label>Redirect to record</label>
        <locationX>1040</locationX>
        <locationY>1964</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectToRecord</name>
            <extensionName>c:lwc01_redirectToDevis</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>financeRid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceId</name>
                <value>
                    <elementReference>Get_Service_fields.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>financeRid</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Remboussement</name>
        <label>Remboussement</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Précédent</backButtonLabel>
        <connector>
            <targetReference>Rembourssement</targetReference>
        </connector>
        <fields>
            <name>PrequalifierRembousement</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 51, 51);&quot;&gt;Pré-qualifier le remboursement&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Remboussement_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Remboussement_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nom_du_remboursement</name>
                    <dataType>String</dataType>
                    <fieldText>Nom du remboursement</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Remboussement_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_de_reception_rem</name>
                    <dataType>Date</dataType>
                    <fieldText>Date de réception</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentLinkedToDevi</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>countDevi</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countFacture</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CreateDevisFacture</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>facture_devis__c</objectType>
    </variables>
    <variables>
        <name>ExistingServiceId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FileExplorerFile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FileExplorerFile__c</objectType>
    </variables>
    <variables>
        <name>financeRid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Folder_FI_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listDevisId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListFileExploreFile</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FileExplorerFile__c</objectType>
    </variables>
    <variables>
        <name>lstContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstDevis</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>facture_devis__c</objectType>
    </variables>
    <variables>
        <name>lstFacture</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>facture_devis__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>statusbar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>[&quot;current&quot;,&quot;not yet&quot;,&quot;not yet&quot;,&quot;not yet&quot;,&quot;not yet&quot;,&quot;not yet&quot;,&quot;not yet&quot;,&quot;not yet&quot;, &quot;not yet&quot;]</stringValue>
        </value>
    </variables>
</Flow>
